/* Общие CSS стили */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: #4D5B7C;
  text-decoration: none;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
}


/* 1) Header + Навигация */
.header-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.flex-nav .signup .fa {
  margin-left: 10px;
  font-weight: bold;
}

.flex-nav .logo .fa {
  font-size: 36px;
  color: #0069FF;
}


/*2) Карточки с тарифами - Общие стили */

.content {
  position: relative;
  background: #0069FF;
}

.content .cloud_background_left img {
  height: 273px;
  left: 0px;
  position: absolute;
  top: 120px;
  width: 211px;
}
.content .cloud_background_right {
  height: 97px;
  position: absolute;
  right: 0px;
  top: 95px;
  width: 272px;
}

.card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px;
}

.card ul li:last-child {
  border-bottom: 0;
}

.card a {
  text-decoration: none;
  background:#FEFF00;
  padding:10px;
  color:black;
  border-radius:4px;
}


.card h2 {
  text-transform: uppercase;
  color:white;
  letter-spacing: 2px;
  text-shadow:3px 3px 0 rgba(0,0,0,0.1);
}

.price {
  font-size: 50px;
  font-family: serif;
  margin: 10px 0;
}


/* Карточки с тарифами - Flex Container!!! */
.pricing-cards {
  max-width:750px;
  margin: 0 auto;
}

